{% extends "base.html" %}

{% block content %}

<div class="h-100 p-5 text-white bg-dark rounded-3">
  <h1>Welcome to our adoption page</h1>
  <p>Please select one of the link from the nav bar</p>
</div>

{% endblock %}