{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>Please provide username</h1>

        <form action="{{url_for('report')}}">
            <label for="username">Username:</label>
            <input type="text" name="username">

            <label for="password">Password:</label>
            <input type="text" name="password">

            <input type="submit" value="Submit">

        </form>
    </div>

{% endblock %}