{% extends 'base.html' %}

{% block content %}
    
    <h1>Report Page</h1>
    <p> Username is {{username}}</p>

    {% if username|length > 10 %}
        <h1>Len greater than 10</h1>
    {% else %}
        <h1>Len is less than 10</h1>
    {% endif %}

{% endblock %}