{% extends "base.html" %}

{% block content %}
<div class="h-100 p-5 bg-light border rounded-3">
    <h1>Here is a list of all available puppies :</h1>

    <ul>
        {% for pup in puppies %}
            <li>
                {{pup}}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
