{% extends "base.html" %}

{% block content %}
<div class="h-100 p-5 text-white bg-dark rounded-3">
    {% if current_user.is_authenticated %}
    <p>Hi {{current_user.username}}</p>
    {% else %}
    <p>Please login or register</p>
    {% endif %}
</div>
{% endblock %}