{% extends "base.html" %}

{% block content %}

<div class="h-100 p-5 bg-light border rounded-3">
    <h1>Have a puppy needs to adoption?</h1>
    <p>add a new puppy in our database!</p>

    <form method="post">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name()}}
        {{form.submit()}}
    </form>

</div>

{% endblock %}