{% extends "base.html" %}

{% block content %}
<div class="h-100 p-5 bg-light border rounded-3">
    <h1>Add Owner</h1>
    <p>Add a new owner with the form bellow</p>

    <form method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name()}}
        {{form.id.label}}{{form.id()}}
        {{form.submit()}}
    </form>
</div>


{% endblock %}

