{% extends "base.html" %}

{% block content %}
<div class="h-100 p-5 bg-light border rounded-3">
    <h1>Did a puppy adopted?</h1>
    <p>Please fill out there their id to remove them from database</p>

    <form method="POST">
        {{form.hidden_tag()}}
        {{form.id.label}}{{form.id()}}
        {{form.submit()}}

    </form>
</div>
{% endblock %}